<style>
    .product-image a {
        cursor: pointer;
    }
    
    .mg-image a {
        cursor: pointer;
    }
</style>

<!--<meta http-equiv="refresh" content= "0" />-->

<div class="container" id="categoryPage" ng-controller="brandProductsCtrl">

    <ul class="bredcrumb_ul" style="margin-top: 10px;">
        <li class="bredcrumb_li">
            <a ng-click="goToHome()"> Home</a>
        </li>
        <li class="bredcrumb_li">
            <a>{{brandBreadCrumb}}</a>
        </li>

    </ul>

    <div ng-if="products.length == 0" style="color: #7d7575;text-align: center;margin-top: 25px;font-size: 37px;">
        <img src="images/noproducts.png">
        <br>
    </div>
    <br>
    <div ng-switch="x" ng-if="products.length != 0">

        <div style="margin-top:10px;">

            <div class="row">

                <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> -->



                <!--start of body grid-->

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 10px;">

                    <div class="row" id="pageshowsort">
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6" style="margin-top:5px;">

                                    <select ng-model="x" ng-change="selectLayout(x)">

                    <option value="Grid">Grid</option>

                    <option value="List">List</option>

                  </select>

                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6" style="margin-top:5px;">

                                    <label for="name" class="col-lg-2 col-xs-4 col-sm-2 pageshowlabel">Show</label>

                                    <div class="col-lg-5 col-xs-5 col-sm-5">

                                        <select ng-model="viewby" ng-change="setpage(viewby)">

                      <option value="12">12</option>

                      <option value="24">24</option>

                      <option value="36">36</option>

                    </select>

                                        <!-- <select name="type" ng-model="viewby" ng-dropdown required ng-change="setpage(viewby)" ng-options="option for option in show_by_list">
                </select>-->



                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6" style="margin-top:5px;">

                                    <div class="form-group">

                                        <label for="name" class="col-lg-2 col-xs-3 pagesortlabel">Sort</label>

                                        <div class="col-lg-8 col-xs-8">

                                            <select ng-model="sort_by" ng-change="sortby(sort_by)">

                        <option value="popularty">Popularity</option>

                        <option value="topselling">Topselling</option>

                        <option value="namefilter">Name</option>

                        <option value="price_low_high">Price:Low to High</option>

                        <option value="price_high_low">Price:High to Low</option>

                      </select>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                            <div class="row">                              
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top:0px;padding-right: 10px;">
                                    <div class="pull-right" style="margin-top: -7px;">
                                        <div class="pagination" ng-if="pagination.numPages > 0" id="pagin">
                                            <ul>
                                                <li>
                                                    <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                            Previous
                          </button>
                                                </li>
                                                <li>
                                                    <label ng-if="pageList[0] > 0 ">...</label>
                                                </li>
                                                <li ng-repeat="n in [] | range: pagination.numPages > 5 ? 5 : pagination.numPages" ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                                                    <a href="" ng-click="processPagination(n)">{{pageList[n]+1}}</a>
                                                </li>
                                                <li>
                                                    <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                                                </li>
                                                <li>
                                                    <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                            Next
                          </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- grid row -->

                    <div class="row">

                        <!-- <div ng-switch-when="Grid"> -->
                        <div ng-if="layout == 'Grid'">

                            <!-- Wrapper for slides -->

                            <div class="carousel-inner ">

                                <div id="{{productsdata}}" class="col-sm-3 col-xs-12 col-lg-3 col-sm-6" ng-repeat="productsdata in products | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" style="margin-top:10px;">

                                    <div class="sub-item respl-item" style="opacity: 1;">

                                        <div class="item-inner">

                                            <div class="prod-modelNo prod-modelNo-warrt-list prod-modelNo-list">

                                            </div>

                                            <div class="product-image">

                                                <a style="padding:10px 0;" ng-click="getProductDetails(productsdata)" class="product-img" title="{{productsdata.brand_name}}">

                                                    <img class="small-image pdt-img-small" ng-src="{{productsdata.upload_photo}}" alt="{{productsdata.brand_name}}">

                                                </a>

                                            </div>

                                            <div class="product-info">

                                                <div class="product-name" ng-init="limit = 32;" style="margin-bottom: -15px;">

                                                    <a ng-click="getProductDetails(productsdata)" href="" ng-right-click="newTab(productsdata)" title="{{productsdata.upload_name}}">

                            {{productsdata.upload_name | limitTo: limit}}{{productsdata.upload_name .length > limit ? ' . . .' : ''}}
                            <!-- <span ng-repeat="attribute in product.attributes|limitTo:2" style="padding-left:1px;color:#666666;"> {{attribute.atrname}}{{attribute.atrvalue}} </span>  -->

                          </a>

                                                </div>

                                                <div class="product-price productpricediv" style="margin-bottom: 18px;">



                                                    <div class="price-box priceBox_firefox" ng-repeat="price in productsdata.prices">

                                                        <div class="offer">

                                                            <!--<div style="padding-bottom: 10px;"><span style="float:left;font-weight:bold;color:#0487A1;font-size:11px;">(Excluding-GST)</span></div>-->

                                                            <br>

                                                            <p class="special-price yousave" id="spyousave">

                                                                {{price.percentage+0.00|number:2}} %

                                                            </p>

                                                            <span class="special-price">

                                <span class="special-price" id="product-price-507_b">

                                  <span class="price priceOne" style="padding-left: 0px;padding-right: 3px;">{{price.offer_price | currency:'&#8377;' }}</span>

                                                            </span>

                                                            </span>

                                                            <span class="old-price">

                                <span class="price" id="old-price-507_b">

                                  {{price.enduser_price | currency:'&#8377;' }}

                                </span>

                                                            </span>

                                                            <p id="exclgstttt">(Excluding-GST)</p>

                                                        </div>

                                                    </div>

                                                </div>

												<div id="barndCartDiv">
                                                <div class="clear-left_detailed" id="homecarts">
                                                    <div class="cartdiv">
                                                        <a href="" class="ad_cart_lak btn addcartbtn" id="newcart_style" title="Add To Cart" ng-click="addToCart(productsdata)">
                                                            <span>
                                <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>
                                <span class="cart_style_new">ADD TO CART</span>
                                                            </span>
                                                        </a>
                                                        <a href="" class="whishlist_lak wishbtn" title="Add To Whishlist" ng-click="addToWishList(productsdata)"></a>
                                                        <a href="" class="compare_lak wishbtn" title="Add To Compare" ng-click="addToCompare(productsdata)"></a>
                                                        <a href="" class="ad_cart_lak btn addreview" title="Write Your Review" id="new_rev_ad_cart" ng-if="productsdata.avgrating == 0" ng-click="productReview(productsdata, 'review')">
                                                            <span>
                                <i class="glyphicon glyphicon-star" style="font-size: 13px;"></i>
                                <span class="hidden-xs">REVIEW</span>
                                                            </span>
                                                        </a>
                                                        <a class="btn addreview" id="strRev" ng-click="productReview(productsdata, 'review')" title="Write Your Review" ng-if="productsdata.avgrating != 0">
                                                            <star-rating ng-model="productsdata.avgrating" readonly="isReadonly"></star-rating>
                                                        </a>
                                                    </div>
                                                </div>
											</div>



                                            </div>

                                        </div>

                                    </div>

                                </div>



                            </div>

                            <br/>

                        </div>

                    </div>

                    <!-- /grid row -->

                    <!-- list row -->

                    <div class="row">

                        <!-- <div style="margin-top: 10px;" ng-switch-when="List" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 list"> -->
                        <div ng-if="layout == 'List'" style="margin-top: 10px;" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 list">
                            <div ng-repeat="productsdata in products | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" style="margin-bottom:10px;">
                                <div style="margin-top: 10px;" class="list">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 list_bottom">
                                        <div style="margin-bottom:10px;">


                                            <div class="col-item carousel-inner">

                                                <div class="col-md-4">

                                                    <div class="listitem-inner">

                                                        <div class="product-image">

                                                            <a style="padding:10px 0;" ng-click="getProductDetails(productsdata)" class="product-img" title="{{productsdata.brand_name}}">

                                                                <img class="small-image pdt-img-small" ng-src="{{productsdata.upload_photo}}" alt="{{productsdata.brand_name}}">

                                                            </a>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="price col-md-8">

                                                    <div class="product-info">

                                                        <div class="product-name" ng-init="limit = 35;">

                                                            <a ng-click="getProductDetails(productsdata)" href="" ng-right-click="newTab(productsdata)" title="{{productsdata.brand_name}}">

                          {{productsdata.upload_name | limitTo: limit}}{{productsdata.upload_name .length > limit ? ' . . .' : ''}}
                          <!-- <span ng-repeat="attribute in product.attributes|limitTo:2" style="padding-left:1px;color:#666666;"> {{attribute.atrname}}{{attribute.atrvalue}} </span>  -->

                        </a>

                                                        </div>

                                                        <div class="product-price priceBox" style="margin-bottom: 18px;">



                                                            <div class="price-box" ng-repeat="price in productsdata.prices">

                                                                <div class="offer">

                                                                    <!--<div style="padding-bottom: 10px;"><span style="float:left;font-weight:bold;color:#0487A1;font-size:11px;">(Excluding-GST)</span></div>-->

                                                                    <br>

                                                                    <p class="special-price yousave">

                                                                        {{price.percentage+0.00|number:2}} %

                                                                    </p>



                                                                    <span class="special-price">

                              <span class="special-price" id="product-price-507_b">

                                <span class="price">{{price.offer_price | currency:'&#8377;' }}</span>

                                                                    </span>

                                                                    </span>

                                                                    <span class="old-price">

                              <span class="price" id="old-price-507_b">

                                {{price.enduser_price | currency:'&#8377;' }}

                              </span>

                                                                    </span>
                                                                    <br/>

                                                                    <p id="exclgstttt" class="list_GstExcl">(Excluding-GST)</p>

                                                                </div>

                                                            </div>

                                                        </div>
                                                        <div class="clear-left_detailed" id="homecarts">
                                                            <div class="cartdiv">
                                                                <a href="" class="ad_cart_lak btn addcartbtn" id="newcart_style" title="Add To Cart" ng-click="addToCart(productsdata)">
                                                                    <span>
                                    <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>
                                    <span class="cart_style_new">ADD TO CART</span>
                                                                    </span>
                                                                </a>
                                                                <a href="" class="whishlist_lak wishbtn" title="Add To Whishlist" ng-click="addToWishList(productsdata)"></a>
                                                                <a href="" class="compare_lak wishbtn" title="Add To Compare" ng-click="addToCompare(productsdata)"></a>
                                                                <a href="" class="ad_cart_lak btn addreview" title="Write Your Review" id="new_rev_ad_cart" ng-if="productsdata.avgrating == 0" ng-click="productReview(productsdata, 'review')">
                                                                    <span>
                                    <i class="glyphicon glyphicon-star" style="font-size: 13px;"></i>
                                    <span class="hidden-xs">REVIEW</span>
                                                                    </span>
                                                                </a>
                                                                <a class="btn addreview" id="strRev" ng-click="productReview(productsdata, 'review')" title="Write Your Review" ng-if="productsdata.avgrating != 0">
                                                                    <star-rating ng-model="productsdata.avgrating" readonly="isReadonly"></star-rating>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <br/>
                                    </div>
                                </div>



                            </div>



                        </div>



                    </div>


                    <div class="row" id="paginationBottom">
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6" style="margin-top:5px;">

                                    <select ng-model="x" ng-change="selectLayout(x)">

                    <option value="Grid">Grid</option>

                    <option value="List">List</option>

                  </select>

                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6" style="margin-top:5px;">

                                    <label for="name" class="col-lg-2 col-xs-4 col-sm-2 pageshowlabel">Show</label>

                                    <div class="col-lg-5 col-xs-5 col-sm-5">

                                        <select ng-model="viewby" ng-change="setpage(viewby)">

                      <option value="12">12</option>

                      <option value="24">24</option>

                      <option value="36">36</option>

                    </select>

                                        <!-- <select name="type" ng-model="viewby" ng-dropdown required ng-change="setpage(viewby)" ng-options="option for option in show_by_list">
                </select>-->



                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6" style="margin-top:5px;">

                                    <div class="form-group">

                                        <label for="name" class="col-lg-2 col-xs-3 pagesortlabel">Sort</label>

                                        <div class="col-lg-8 col-xs-8">

                                            <select ng-model="sort_by" ng-change="sortby(sort_by)">

                        <option value="popularty">Popularity</option>

                        <option value="topselling">Topselling</option>

                        <option value="namefilter">Name</option>

                        <option value="price_low_high">Price:Low to High</option>

                        <option value="price_high_low">Price:High to Low</option>

                      </select>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                            <div class="row">
                              
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top:0px;padding-right: 10px;">
                                    <div class="pull-right" style="margin-top: -7px;">
                                        <div class="pagination" ng-if="pagination.numPages > 0" id="pagin">
                                            <ul>
                                                <li>
                                                    <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                            Previous
                          </button>
                                                </li>
                                                <li>
                                                    <label ng-if="pageList[0] > 0 ">...</label>
                                                </li>
                                                <li ng-repeat="n in [] | range: pagination.numPages > 5 ? 5 : pagination.numPages" ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                                                    <a href="" ng-click="processPagination(n)">{{pageList[n]+1}}</a>
                                                </li>
                                                <li>
                                                    <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                                                </li>
                                                <li>
                                                    <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                            Next
                          </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>





            </div>

        </div>



        <div id="addedToCart" class="modal fade">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header"></div>

                    <div class="modal-body" align="middle">

                        Added to Cart Successfully!

                    </div>



                    <div class="modal-footer">

                        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>

                    </div>

                </div>

            </div>

        </div>

        <div id="addedToWishList" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body" align="middle">
                        Added to Wish List Successfully!
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="addedToCompareProducts" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body" align="middle">
                        Added to Compare Products Successfully!
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="outOfQty" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body" align="middle">
                        Only {{avlQty}} are left!
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction(x) {

        x.classList.toggle("fa-chevron-down");

    }
</script>