<style>
    .product-image a {
        cursor: pointer;
    }
    
    .mg-image a {
        cursor: pointer;
    }
     /* .accordion-toggle:after {
   
    font-family: 'Glyphicons Halflings';  
    content: "\e113";   
    float: right;       
    color:white;        
}
 .accordion-toggle.collapsed:after {
  
    content: "\e114";   
} */
</style>
<!--<meta http-equiv="refresh" content= "0" />-->

<div class="container mbl_side_mar" id="categoryPage" ng-controller="productCategoriesCtrl">
    <div class="row">
        <ul class="bredcrumb_ul" style="margin-top: 10px;">
            <li class="bredcrumb_li">
                <a ng-click="goToHome()"> Home</a>
            </li>
            <li class="bredcrumb_li">
                <a ng-click="pageNavigate(breadCrumb)">{{breadCrumb}}</a>
            </li>
            <li ng-if="breadCrumb1" class="bredcrumb_li">
                <a>{{breadCrumb1}}</a>
            </li>
        </ul>
    </div>

    <div class="row" id="catPage">
        <div ng-switch="x">
            <div style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <!--start of side filter-->
                      
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 subcatdiv">
                            <div class="accordion-toggle" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;background-color: #0487A1;color: #fff;" data-toggle="collapse" ng-click="toggleclick()"data-target="#subcategory" ng-if="categories.length > 0">
                                <b>SUB-CATEGORY</b>
                                <i class="fa fa-chevron-up" aria-hidden="true" ng-if="toggleval==true" style="float: right;margin-top: 2px;"></i>
                                <i class="fa fa-chevron-down" aria-hidden="true" ng-if="toggleval==false" style="float: right;margin-top: 2px;"></i>
                            </div>
                            <div style="margin-top: 8px;border-bottom: 1px solid #eee;" ng-if="toggleval==true" id="subcategory" class="subcatcheck">
                                <div ng-repeat="category in categories track by $index" >
                                    <!-- <input type="checkbox" value="value"> -->
                                    <label>
                  <input type="checkbox" id="checkBox_{{$index}}" class="branCheck"   ng-checked="{{category.selected}}"
                 ng-click="getCategorywiseProductcheck('cat',category.subcategory,'left')" ng-model="selected">{{category.subcategory}}({{category.count}})</label>  
                                <!-- <input type="checkbox" class="branCheck checkbox"   name="category" ng-value="'{{category}}'" 
                               ng-click="getCategorywiseProductcheck('cat',category.subcategory,'left')" ng-selected="category.subcategory" ng-checked="selectedArray.subcategory.indexOf(category.subcategory) > -1" ng-model="selected">{{category.subcategory}}({{category.count}})</label>  -->
                   
            </div>
                            </div>
                            <div  class="accordion-toggle" data-toggle="collapse"  ng-click="toggleclick2()" data-target="#priceid" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;background-color: #0487A1;color: #fff;margin-bottom:10px;">
                                <b>PRICE</b>
                                 <i class="fa fa-chevron-up" aria-hidden="true" ng-if="toggleval2==true" style="float: right;margin-top: 2px;"></i>
                                <i class="fa fa-chevron-down" aria-hidden="true" ng-if="toggleval2==false" style="float: right;margin-top: 2px;"></i>
                            </div>
                           <div class="cat_radio_checks" ng-init="price=pricerange" id="priceid" ng-if="toggleval2==true">
                                <input type="radio" name="price" ng-if="minprice<1000" ng-model="price" ng-value="'0-1000'" ng-click="getCategorywiseProductcheck('price','0-1000','left')">
                                <span  ng-if="minprice<1000">&#8377;0 - &#8377;1,000</span>
                                <br ng-if="minprice<1000">
                                <input type="radio"  name="price" ng-model="price"  ng-if="maxprice>=1000" ng-value="'1000-10000'" ng-click="getCategorywiseProductcheck('price','1000-10000','left')">
                                <span ng-if="maxprice>=1000">&#8377;1,000 - &#8377;10,000</span>
                                <br ng-if="maxprice>=1000">
                                <input type="radio"  name="price" ng-model="price" ng-if="maxprice>=10000" ng-value="'10000-30000'" ng-click="getCategorywiseProductcheck('price','10000-30000','left')">
                                <span ng-if="maxprice>=10000">&#8377;10,000 - &#8377;30,000</span>
                                <br ng-if="maxprice>=10000">
                                <input type="radio"  name="price" ng-if="maxprice>=30000" ng-model="price" ng-value="'30000-50000'" ng-click="getCategorywiseProductcheck('price','30000-50000','left')">
                                <span ng-if="maxprice>=30000">&#8377;30,000 - &#8377;50,000</span>
                                <br ng-if="maxprice>=30000">
                                <!-- <input type="radio" ng-model="price" ng-value="'20000-40000'" ng-change="getCategorywiseProductcheck('price','10000-40000')" > ₹20,000 - ₹40,000<br> -->
                                <!-- <input type="radio" > ₹40,000 - ₹100,000<br> -->
                                <input type="radio"   name="price" ng-if="maxprice>=50000" ng-model="price" ng-value="'50000-2000000'" ng-click="getCategorywiseProductcheck('price','50000-100000000','left')">
                                <span ng-if="maxprice>=50000">&#8377;50,000 and above</span>
                                <br ng-if="maxprice>=50000">
                                <input type="radio"  name="price" ng-model="price" ng-value="" ng-click="getCategorywiseProductcheck('price','','left')">
                                <span>Show All</span>
                            </div>

                            <div class="accordion-toggle" ng-click="toggleclick4()" data-toggle="collapse" data-target="#warrantyid" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;background-color: #0487A1;color: #fff;">
                                <b>WARRANTY</b>
                                 <i class="fa fa-chevron-up" aria-hidden="true" ng-if="toggleval4==true" style="float: right;margin-top: 2px;"></i><!-- end ngIf: toggleval3==true -->
                               <i class="fa fa-chevron-down" aria-hidden="true" ng-if="toggleval4==false" style="float: right;margin-top: 2px;"></i>
                           
                            </div>  
                             <div style="margin-top: 8px;"  id="warrantyid" ng-if="toggleval4==true">
                                <input type="radio" name="warranty"  ng-model="warranty" ng-value="'1'" ng-click="getCategorywiseProductcheck('warranty','1','left')">
                                <span >Warranty</span>
                                <br >
                                <input type="radio"  name="warranty" ng-model="warranty" ng-value="'0'"  ng-click="getCategorywiseProductcheck('warranty','0','left')">
                                <span >Non-Warranty</span>
                                 <br>
                                 <input type="radio"  name="warranty" ng-model="warranty" ng-value=""  ng-click="getCategorywiseProductcheck('warranty','','left')">
                                <span >Show All</span> 
                        </div>

                            <div class="accordion-toggle" ng-click="toggleclick5()" data-toggle="collapse" data-target="#discountId" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;background-color: #0487A1;color: #fff;">
                                <b>DISCOUNT</b>
                                 <i class="fa fa-chevron-up" aria-hidden="true" ng-if="toggleval5==true" style="float: right;margin-top: 2px;"></i><!-- end ngIf: toggleval3==true -->
                               <i class="fa fa-chevron-down" aria-hidden="true" ng-if="toggleval5==false" style="float: right;margin-top: 2px;"></i>
                           
                            </div> 
                         <div class="cat_radio_checks"   id="discountId" ng-if="toggleval5==true">
                                <input type="radio" name="percent" ng-model="percent" ng-value="'10'" ng-click="getCategorywiseProductcheck('percent',percent,'left')">
                                <span  >Upto 10%</span>
                                <br >
                                <input type="radio"  name="percent" ng-model="percent"  ng-value="'25'" ng-click="getCategorywiseProductcheck('percent',percent,'left')">
                                <span >Upto 25%</span>
                                <br >
                                <input type="radio"  name="percent" ng-model="percent"  ng-value="'50'" ng-click="getCategorywiseProductcheck('percent',percent,'left')">
                                <span >Upto 50%</span>
                                <br >
                                <input type="radio"  name="percent"  ng-model="percent" ng-value="'75'" ng-click="getCategorywiseProductcheck('percent',percent,'left')">
                                <span >Upto 75%</span>
                                <br >
                           
                                <!-- <input type="radio"   name="percent" ng-model="percent" ng-value="'100'" ng-click="getCategorywiseProductcheck('percent',percent,'left')">
                                <span>Above 75%</span>
                                <br > -->
                                <input type="radio"  name="percentage" ng-model="percentage" ng-value="'100'" ng-click="getCategorywiseProductcheck('percent','','left')">
                                <span>Show All</span>
                            </div>


        <div class="accordion-toggle" ng-click="toggleclick3()" data-toggle="collapse" data-target="#brandid"style="border: 1px solid #eee;padding: 5px;margin-top: 15px;background-color: #0487A1;color: #fff;">
                                <b>BRAND</b>
                                 <i class="fa fa-chevron-up" aria-hidden="true" ng-if="toggleval3==true" style="float: right;margin-top: 2px;"></i>
                                <i class="fa fa-chevron-down" aria-hidden="true" ng-if="toggleval3==false" style="float: right;margin-top: 2px;"></i>
                           
                           
                            </div>


         
                            


                            <div style="margin-top: 8px;border-bottom: 1px solid #eee;" id="brandid" ng-if="toggleval3==true">
                                <div ng-repeat="brandArry in brandsData track by $index">
                                    <label>
                 <input type="checkbox" class="branCheck checkbox"   ng-model="selected" ng-selected="brandArry.brand" ng-checked="{{brandArry.selected}}"
                ng-click="getCategorywiseProductcheck('brand',brandArry.brand,'left')"> 

                 <!-- <input type="checkbox" class="branCheck checkbox"  name="brandArry" ng-model="selected" 
                ng-value="{{brandArry}}" ng-click="getCategorywiseProductcheck('brand',brandArry.brand,'left')" ng-checked="selectedArray.brand.indexOf(brandArry.brand) > -1"> -->
                {{brandArry.brand}}({{brandArry.count}})
              </label>
                                </div>
                            </div>



                         
                        </div>
                        <!--end of side filter -->
                        <!--start of body grid-->
                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12" style="margin-top: -6px;">
                            <div class="row" id="pageshowsort" style="margin-left: -31px;">
                                <div>
                                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 subcatSortheaddiv">
                                        <label for="name" class="col-lg-4 col-md-4 col-xs-4 col-sm-4 pageshowlabel" id="ViewLbl">View</label>
                                        <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                                            <select ng-model="x" ng-change="selectLayout(x)">

                    <option value="Grid">Grid</option>

                    <option value="List">List</option>

                  </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 subcatSortheaddiv">
                                        <label for="name" class="col-lg-4 col-md-4 col-xs-4 col-sm-4 pageshowlabel">Show</label>
                                        <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                                            <select ng-model="viewby" ng-change="setpage(viewby)">
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                  </select>
                                            <!-- <select name="type" ng-model="viewby" ng-dropdown required ng-change="setpage(viewby)" ng-options="option for option in show_by_list">

            </select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 subcatSortheaddiv">
                                        <div class="form-group">
                                            <label for="name" class="col-lg-4 col-md-4 col-xs-4 col-sm-4 pagesortlabel">Sort</label>
                                            <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                                                <select ng-model="sort_by" ng-change="sortby(sort_by)">
                      <option value="popularty">Popularity</option>
                      <option value="topselling">Topselling</option>
                      <option value="namefilter">Name</option>
                      <option value="price_low_high">Price:Low to High</option>
                      <option value="price_high_low">Price:High to Low</option>
                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" id="paginaView">
                                         <div class="pagination" ng-if="pagination.numPages == 0" id="pagin">
                                            <ul>
                                                <li>
                                                    <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                        Previous
                      </button>
                                                </li>
                                                <li>
                                                    <label ng-if="pageList[0] > 0 ">...</label>
                                                </li>
                                                <li ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                                                    <a href="" ng-click="processPagination(n)">1</a>
                                                </li>
                                                <li>
                                                    <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                                                </li>
                                                <li>
                                                    <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                        Next
                      </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pagination" ng-if="pagination.numPages >  0" id="pagin" style="margin: -28px 0 !important;">
                                            <ul>
                                                <li>
                                                    <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                        Previous
                      </button>
                                                </li>
                                                <li>
                                                    <label ng-if="pageList[0] > 0 ">...</label>
                                                </li>
                                                <li ng-repeat="n in [] | range: pagination.numPages > 5 ? 5 : pagination.numPages" ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                                                    <a href="" ng-click="processPagination(n)">{{pageList[n]+1}}</a>
                                                </li>
                                                <li>
                                                    <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                                                </li>
                                                <li>
                                                    <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                        Next
                      </button>
                                                </li>
                                            </ul>
                                        </div> 
                                         <!-- <div class="form-group">
                  <div class="buttons-countrows">
                    <button type="button" class="btn-prev btn   flat-box-btn waves-effect waves-button btnpageprevnext" ng-disabled="currentPageNumber == 1"
                      ng-click="previousPageMethod(fromVal,toVal,viewby)" style="border-radius: 0px;">
                      Prev </button>
                    <span class="countpages" ng-cloak id="pag_cat_neww"> {{currentPageNumber}}</span>
                    <button type="button" class="btn-next btn   flat-box-btn waves-effect waves-button btnpageprevnext" ng-disabled="nextBtn == 'false' || products.length == 0"
                      ng-click="nextPageMethod(fromVal,toVal,viewby)" style="border-radius: 0px;">
                      Next
                    </button>
                  </div>
                </div>  -->
                                    </div>

                                </div>
                            </div>

                            <div ng-if="products.length == 0" style="color: #7d7575;text-align: center;margin-top: 25px;font-size: 37px;">
                                <img src="images/noproducts.png">
                                <br>
                            </div>
                            <!-- grid row -->
                            <div loading style="margin-right: 446px;margin-top: 190px;"></div>
                            <div class="row">

                                <div ng-if="layout == 'Grid'">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner ">
                                             <!-- <div id="{{productsdata}}" class="col-md-4 col-lg-4 col-sm-6 col-xs-12" ng-repeat="productsdata in products " style="margin-top:10px;"> -->
                                       
                                         <div id="{{productsdata}}" class="col-md-4 col-lg-4 col-sm-6 col-xs-12" ng-repeat="productsdata in products | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" style="margin-top:10px;"> 
                                            <div class="sub-item respl-item" style="opacity: 1;">
                                                <div class="item-inner">
                                                    <div class="product-image">
                                                        <a style="padding:10px 0;" ng-click="getProductDetailsCat(productsdata)" class="product-img" title="{{productsdata.brand_name}}">
                                                            <img class="small-image pdt-img-small" ng-src="{{productsdata.upload_photo}}" alt="{{productsdata.brand_name}}">
                                                        </a>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="product-name" ng-init="limit = 30;" style="margin-bottom: -15px;">
                                                            <a ng-click="getProductDetailsCat(productsdata)" href="" ng-right-click="newTab(productsdata)" title="{{productsdata.upload_name}}">
                            {{productsdata.upload_name | limitTo: limit}}{{productsdata.upload_name .length > limit ? ' . . .' : ''}}
                            <!-- <span ng-repeat="attribute in product.attributes|limitTo:2" style="padding-left:1px;color:#666666;"> {{attribute.atrname}}{{attribute.atrvalue}} </span>  -->
                          </a>
                                                        </div>
                                                        <div class="product-price productpricediv" style="margin-bottom: 18px;">
                                                            <div class="price-box" ng-repeat="price in productsdata.prices|limitTo:1">
                                                                <div class="offer">

                                                                    <!--<div style="padding-bottom: 10px;"><span style="float:left;font-weight:bold;color:#0487A1;font-size:11px;">(Excluding-GST)</span></div>-->
                                                                    <br>
                                                                    <p class="special-price yousave" id="spyousave">
                                                                        {{price.percentage+0.00|number:2}} %
                                                                    </p>
                                                                    <span class="special-price">
                                <span class="special-price" id="product-price-507_b">
                                  <span class="price" style="padding-left: 0px;padding-right: 3px;">{{price.offer_price | currency:'&#8377;' }}</span>
                                                                    </span>
                                                                    </span>
                                                                    <span class="old-price">
                                <span class="price" id="old-price-507_b">
                                  {{price.enduser_price | currency:'&#8377;' }}
                                </span>
                                                                    </span>
                                                                    <p id="exclgstttt">(Excluding-GST)</p>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <!-- <div class="clear-left_detailed">
                          <div class="cartdiv">
                            <a href="" class="ad_cart_lak categoryaddcart" title="Add To Cart" ng-click="addToCart(productsdata)">
                              <span>
                                <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>ADD TO CART</span>
                            </a>
                          </div>
                          <div class="wishcompdiv" id="catwishcompdiv">
                            <a href="" class="whishlist_lak" id="catwhishlist_lak" title="Add To Whishlist" ng-click="addToWishList(productsdata)"></a>
                            <a href="" class="compare_lak" id="catwhishlist_lak" title="Add To Compare" ng-click="addToCompare(productsdata)"></a>
                            <div class="revdiv reviewDiv" id="catrevdiv">
                              <a href="" class="ad_cart_lak" title="Write Your Review" ng-if="productsdata.avgrating == 0" ng-click="productReview(productsdata, 'review')">
                                <span>
                                  <i class="glyphicon glyphicon-star" style="padding-right:5px;font-size: 13px;top: 3px;">
                                  </i> REVIEW</span>
                              </a>
                              <a ng-click="productReview(productsdata, 'review')" title="Write Your Review" ng-if="productsdata.avgrating != 0">
                                <star-rating ng-model="productsdata.avgrating" readonly="isReadonly"></star-rating>
                              </a>
                            </div>
                          </div>
                        </div> -->


                                                        <div class="clear-left_detailed" id="homecarts">
                                                            <div class="cartdiv">
                                                                <a href="" class="ad_cart_lak btn addcartbtn" id="newcart_style" title="Add To Cart" ng-click="addToCart(productsdata)">
                                                                    <span>
                                <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>
                                <span class="cart_style_new">ADD TO CART</span>
                                                                    </span>
                                                                </a>
                                                                <a href="" class="whishlist_lak wishbtn" title="Add To Whishlist" ng-click="addToWishList(productsdata)"></a>
                                                                <a href="" class="compare_lak wishbtn" title="Add To Compare" ng-click="addToCompare(productsdata)"></a>
                                                                <a href="" class="ad_cart_lak btn addreview" title="Write Your Review" id="new_rev_ad_cart" ng-if="productsdata.avgrating == 0" ng-click="productReview(productsdata, 'review')">
                                                                    <span>
                                <i class="glyphicon glyphicon-star" style="font-size: 13px;"></i>
                                <span class="hidden-xs">REVIEW</span>
                                                                    </span>
                                                                </a>
                                                                <a class="btn addreview" id="strRev" ng-click="productReview(productsdata, 'review')" title="Write Your Review" ng-if="productsdata.avgrating != 0">
                                                                    <star-rating ng-model="productsdata.avgrating" readonly="isReadonly"></star-rating>
                                                                </a>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <!-- /grid row -->

                            <!-- list row -->
                            <div class="row">
                                <div style="margin-top: 10px;" ng-if="layout == 'List'" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 list">
                                    <div ng-repeat="productsdata in products| startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" style="margin-bottom:10px;">
                                        <div class="col-item carousel-inner">
                                            <div class="col-md-4">
                                                <div class="listitem-inner">
                                                    <div class="product-image">
                                                        <a style="padding:10px 0;" ng-click="getProductDetailsCat(productsdata)" class="product-img" title="{{productsdata.brand_name}}">
                                                            <img class="small-image pdt-img-small" ng-src="{{productsdata.upload_photo}}" alt="{{productsdata.brand_name}}">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price col-md-8">
                                                <div class="product-info">
                                                    <div class="product-name" ng-init="limit = 100;">
                                                        <a ng-click="getProductDetailsCat(productsdata)" href="" ng-right-click="newTab(productsdata)" title="{{productsdata.brand_name}}">
                          {{productsdata.upload_name | limitTo: limit}}{{productsdata.upload_name .length > limit ? ' . . .' : ''}}
                          <!-- <span ng-repeat="attribute in product.attributes|limitTo:2" style="padding-left:1px;color:#666666;"> {{attribute.atrname}}{{attribute.atrvalue}} </span>  -->
                        </a>
                                                    </div>
                                                    <div class="product-price" style="margin-bottom: 18px;">
                                                        <div class="price-box" ng-repeat="price in productsdata.prices">
                                                            <div class="offer">
                                                                <!--<div style="padding-bottom: 10px;"><span style="float:left;font-weight:bold;color:#0487A1;font-size:11px;">(Excluding-GST)</span></div>-->
                                                                <br>
                                                                <p class="special-price yousave">
                                                                    {{price.percentage+0.00|number:2}} %
                                                                </p>
                                                                <span class="special-price">
                              <span class="special-price" id="product-price-507_b">
                                <span class="price">{{price.offer_price | currency:'&#8377;' }}</span>
                                                                </span>
                                                                </span>
                                                                <span class="old-price">
                              <span class="price" id="old-price-507_b">
                                {{price.enduser_price | currency:'&#8377;' }}
                              </span>
                                                                </span>
                                                                <br/>
                                                                <p id="exclgstttt" class="new_exclgstttt">(Excluding-GST)</p>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <!-- <div class="cartdiv" style="margin-top: 1px !important;">
                        <a href="" class="ad_cart_lak categoryaddcart" title="Add To Cart" ng-click="addToCart(productsdata)">
                          <span>
                            <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>ADD TO CART</span>
                        </a>
                      </div>
                      <div class="wishcompdiv" id="catwishcompdiv" style="margin-top: 0 !important;">
                        <a href="" class="whishlist_lak" id="catwhishlist_lak" title="Add To Whishlist" ng-click="addToWishList(productsdata)"></a>
                        <a href="" class="compare_lak" id="catwhishlist_lak" title="Add To Compare" ng-click="addToCompare(productsdata)"></a>
                        <div class="revdiv reviewDiv" id="catrevdiv">
                          <a href="" class="ad_cart_lak" title="Write Your Review" ng-if="productsdata.avgrating == 0" ng-click="productReview(productsdata, 'review')">
                            <span>
                              <i class="glyphicon glyphicon-star" style="padding-right:5px;font-size: 13px;top: 3px;">
                              </i> REVIEW</span>
                          </a>
                          <a ng-click="productReview(productsdata, 'review')" title="Write Your Review" ng-if="productsdata.avgrating != 0">
                            <star-rating ng-model="productsdata.avgrating" readonly="isReadonly"></star-rating>
                          </a>
                        </div>
                      </div> -->


                                                    <div class="clear-left_detailed" id="homecarts">
                                                        <div class="cartdiv">
                                                            <a href="" class="ad_cart_lak btn addcartbtn" id="newcart_style" title="Add To Cart" ng-click="addToCart(productsdata)">
                                                                <span>
                              <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>
                              <span class="cart_style_new">ADD TO CART</span>
                                                                </span>
                                                            </a>
                                                            <a href="" class="whishlist_lak wishbtn" title="Add To Whishlist" ng-click="addToWishList(productsdata)"></a>
                                                            <a href="" class="compare_lak wishbtn" title="Add To Compare" ng-click="addToCompare(productsdata)"></a>
                                                            <a href="" class="ad_cart_lak btn addreview" title="Write Your Review" id="new_rev_ad_cart" ng-if="productsdata.avgrating == 0" ng-click="productReview(productsdata, 'review')">
                                                                <span>
                              <i class="glyphicon glyphicon-star" style="font-size: 13px;"></i>
                              <span class="hidden-xs">REVIEW</span>
                                                                </span>
                                                            </a>
                                                            <a class="btn addreview" id="strRev" ng-click="productReview(productsdata, 'review')" title="Write Your Review" ng-if="productsdata.avgrating != 0">
                                                                <star-rating ng-model="productsdata.avgrating" readonly="isReadonly"></star-rating>
                                                            </a>
                                                        </div>
                                                    </div>





                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <div class="row" id="pageshowsort" style="margin-top: -22px;margin-left: -31px;">
                                <div>
                                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 subcatSortheaddiv">
                                        <label for="name" class="col-lg-4 col-md-4 col-xs-4 col-sm-4 pageshowlabel" id="ViewLbl">View</label>
                                        <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                                            <select ng-model="x" ng-change="selectLayout(x)">

                    <option value="Grid">Grid</option>

                    <option value="List">List</option>

                  </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 subcatSortheaddiv">
                                        <label for="name" class="col-lg-4 col-md-4 col-xs-4 col-sm-4 pageshowlabel">Show</label>
                                        <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                                            <select ng-model="viewby" ng-change="setpage(viewby)">
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                  </select>
                                            <!-- <select name="type" ng-model="viewby" ng-dropdown required ng-change="setpage(viewby)" ng-options="option for option in show_by_list">

            </select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 subcatSortheaddiv">
                                        <div class="form-group">
                                            <label for="name" class="col-lg-4 col-md-4 col-xs-4 col-sm-4 pagesortlabel">Sort</label>
                                            <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                                                <select ng-model="sort_by" ng-change="sortby(sort_by)">
                      <option value="popularty">Popularity</option>
                      <option value="topselling">Topselling</option>
                      <option value="namefilter">Name</option>
                      <option value="price_low_high">Price:Low to High</option>
                      <option value="price_high_low">Price:High to Low</option>
                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" id="paginaView">
                                         <div class="pagination" ng-if="pagination.numPages == 0" id="pagin" style="margin: -26px 0 !important;">
                                            <ul>
                                                <li>
                                                    <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                        Previous
                      </button>
                                                </li>
                                                <li>
                                                    <label ng-if="pageList[0] > 0 ">...</label>
                                                </li>
                                                <li ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                                                    <a href="" ng-click="processPagination(n)">1</a>
                                                </li>
                                                <li>
                                                    <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                                                </li>
                                                <li>
                                                    <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                        Next
                      </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pagination" ng-if="pagination.numPages >  0" id="pagin" style="margin:-26px 0 !important;">
                                            <ul>
                                                <li>
                                                    <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                        Previous
                      </button>
                                                </li>
                                                <li>
                                                    <label ng-if="pageList[0] > 0 ">...</label>
                                                </li>
                                                <li ng-repeat="n in [] | range: pagination.numPages > 5 ? 5 : pagination.numPages" ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                                                    <a href="" ng-click="processPagination(n)">{{pageList[n]+1}}</a>
                                                </li>
                                                <li>
                                                    <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                                                </li>
                                                <li>
                                                    <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                        Next
                      </button>
                                                </li>
                                            </ul>
                                        </div> 
                                         <!-- <div class="form-group">
                  <div class="buttons-countrows">
                    <button type="button" class="btn-prev btn   flat-box-btn waves-effect waves-button btnpageprevnext" ng-disabled="currentPageNumber == 1"
                      ng-click="previousPageMethod(fromVal,toVal,viewby)" style="border-radius: 0px;">
                      Prev </button>
                    <span class="countpages" ng-cloak id="pag_cat_neww"> {{currentPageNumber}}</span>
                    <button type="button" class="btn-next btn   flat-box-btn waves-effect waves-button btnpageprevnext" ng-disabled="nextBtn == 'false' || products.length == 0"
                      ng-click="nextPageMethod(fromVal,toVal,viewby)" style="border-radius: 0px;">
                      Next
                    </button>
                  </div>
                </div>  -->
                                    </div>

                                </div>
                            </div>
                            <!--    <div class="" id="paginaView">
            <div class="pagination" ng-if="pagination.numPages == 0" id="paginOrders">
              <ul>
                <li>
                  <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                    Previous
                  </button>
                </li>
                <li>
                  <label ng-if="pageList[0] > 0 ">...</label>
                </li>
                <li ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                  <a href="" ng-click="processPagination(n)">1</a>
                </li>
                <li>
                  <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                </li>
                <li>
                  <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                    Next
                  </button>
                </li>
              </ul>
            </div>
            <div class="pagination" ng-if="pagination.numPages >  0" id="paginOrders">
              <ul>
                <li>
                  <button class="pagination-prev-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page == 0" ng-click="processPagination(-1)">
                    Previous
                  </button>
                </li>
                <li>
                  <label ng-if="pageList[0] > 0 ">...</label>
                </li>
                <li ng-repeat="n in [] | range: pagination.numPages > 5 ? 5 : pagination.numPages" ng-class="{active: pageList[n] == pagination.page}" class="pagenumbers">
                  <a href="" ng-click="processPagination(n)">{{pageList[n]+1}}</a>
                </li>
                <li>
                  <label ng-if="pagination.numPages > 5 && pageList[4] != pagination.numPages-1 ">...</label>
                </li>
                <li>
                  <button class="pagination-next-button btn  btn-sm pull-right brand_pagi" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="processPagination(5)">
                    Next
                  </button>
                </li>
              </ul>
            </div>

          </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addedToCart" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Added to Cart Successfully!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addedToWishList" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Added to Wish List Successfully!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>



    <div id="addedToCompareProducts" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Added to Compare Products Successfully!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="outOfQty" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Only {{avlQty}} are left!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function myFunction(x) {
        x.classList.toggle("fa-chevron-down");
    }
</script>