<style>
	#dealer_addr {
		border: 1px solid #ddd;
		padding: 15px;
		border-radius: 10px;
		background: #eeedf1;
		margin-bottom: 10px;
		height: 240px;
	}

	#dealer_shp_name {
		color: #0487a1;
		font-size: 15px;
		font-weight: bold;
	}

	#shop_add_part {
		margin-left: 25px;
	}
	#edit_row{
	margin-bottom:10px;
	}
	@media (min-width: 992px){
.col-md-offset-5 {
   margin-left: 44.2%;
}
}

.btnsave{
margin-top:6px;
}
.cancelBtn:hover {
    color: #333;
}
</style>
<div class="container" ng-controller="editaddresscontroller">
	<ul class="bredcrumb_ul margin_left">
    	<li class="bredcrumb_li">
	     <a  ng-click="goToHome()">	Home</a>
		</li>
		<li class="bredcrumb_li">
		<a ng-click="pageNavigate()">Dashboard</a>
         </li>
    	<li  class="bredcrumb_li">
			<a>Edit Address</a>
		</li>
	</ul>
	<div class="row" id="edit_row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: white;margin-top: 15px;" id="categoryPage">
			<div class="row">
				<!--   shipping address start here -->


				<div class="shipping_addr_part col-md-6 col-lg-6 col-sm-6 col-xs-6 ">

					<div style="background-color:gray;padding:5px;">
						<span class="checkout-step-number111" style="color:#fff;font-size: 15px;padding:10px;">1</span>
						<h4 class="checkout-step-title">
							<a role="button" style="color:#fff;">Shipping Address</a>
						</h4>
					</div>
					<div class="" style="border:1px solid #ddd;margin-bottom: 10px;">

	
						<form name="deliveryAddressForm" id="checkoutForm" >

							<div class="row" style="padding: 3px;">
								<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="firstname">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>First Name </label>
											<input type="text" name="firstname" required class="form-control" id="firstname" ng-model="checkoutData.firstname" placeholder="Enter First Name"
											 ng-minlength="3" ng-maxlength="50" maxlength="50" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/" autofocus="true">
											<!-- <span class="validationError errorMsg" style="color:red" ng-if="deliveryAddressForm.firstname.$dirty && deliveryAddressForm.firstname.$invalid" class="ng-hide">
												Please Enter Valid First Name.
											</span> -->

											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.firstname.$error.required">Enter First Name</p>

											<div ng-messages="deliveryAddressForm.firstname.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid First Name</p>
												<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
												<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
											</div>
											<br>

										</div>
									</div>
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="lastname">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub> Last Name</label>
											<input type="text" name="lastname" required="" class="form-control" id="lastname" ng-model="checkoutData.lastname" placeholder="Enter Last Name"
											 ng-minlength="3" ng-maxlength="50" maxlength="50" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.lastname.$error.required">Enter Last Name</p>

											<div ng-messages="deliveryAddressForm.lastname.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid Last Name</p>
												<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
												<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
											</div>
											<br>
										</div>
									</div>
								</div>

								<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="house_no">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>House No.</label>
											<input type="text" name="house_no" required class="form-control" id="house_no" ng-model="checkoutData.house_no" placeholder="Enter House No."
											 ng-minlength="3" ng-maxlength="15" maxlength="15" required ng-pattern="/^[a-zA-Z0-9/, # - # -]*$/" />
											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.house_no.$error.required">Enter House Number</p>

											<div ng-messages="deliveryAddressForm.house_no.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid House Number</p>
												<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>


											</div>
											<br>
										</div>
									</div>
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="street_address">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Street Address Name</label>
											<input type="text" name="street_address" class="form-control" id="street_address" ng-model="checkoutData.street_address"
											 placeholder="Enter Street Address Name" ng-minlength="3" ng-maxlength="150" maxlength="150" required ng-pattern="/^[^`~!@#$%^&*()+={}|[\]'<>?]*$/">
											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.street_address.$error.required">Enter Street Address</p>

											<div ng-messages="deliveryAddressForm.street_address.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid Street Address</p>
												<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
												<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 150 Characters</p>
											</div>
											<br>
										</div>
									</div>
								</div>

								<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="city">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>City</label>
											<input type="text" name="city" required class="form-control" id="city" ng-model="checkoutData.city" placeholder="Enter City Name"
											 ng-minlength="3" ng-maxlength="20" maxlength="20" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">


											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.city.$error.required">Enter City Name</p>

											<div ng-messages="deliveryAddressForm.city.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid City Name</p>
												<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
												<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
											</div>
											<br>

										</div>
									</div>
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="state">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>State/Province</label>
											<input type="text" name="state" class="form-control" id="state" ng-model="checkoutData.state" placeholder="Enter State Name"
											 ng-minlength="3" ng-maxlength="20" maxlength="20" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">


											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.state.$error.required">Enter State Name</p>

											<div ng-messages="deliveryAddressForm.state.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid State Name</p>
												<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
												<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
											</div>
											<br>
										</div>
									</div>
								</div>

								<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="postal_code">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Zip/Postal Code</label>
											<input type="text" name="postal_code" class="form-control" id="postal_code" ng-model="checkoutData.postal_code" placeholder="Enter Zip/Postal Code"
											 required maxlength="6" ng-pattern="/^[1-9][0-9]{5}$/">

											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.postal_code.$error.required">Enter Valid Postal Code</p>

											<div ng-messages="deliveryAddressForm.postal_code.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid Postal code</p>

												<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 6 Numbers only</p>
											</div>
											<br>

										</div>
									</div>
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="country">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Country</label>
											<input type="text" name="country" class="form-control" id="country" ng-model="checkoutData.country" placeholder="Enter Country"
											 required ng-minlength="3" ng-maxlength="20" maxlength="20" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">


											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.country.$error.required">Enter Country </p>

											<div ng-messages="deliveryAddressForm.country.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid Country </p>
												<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>

												<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 6 Numbers only</p>
											</div>
											<br>
										</div>
									</div>
								</div>

								<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="mobile">
												<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Mobile Number</label>
											<input type="text" name="mobile" class="form-control" id="mobile" ng-model="checkoutData.mobile" placeholder="Enter Mobile Number"
											 ng-minlength="10" ng-maxlength="10" maxlength="10" required ng-pattern="/^[6-9][0-9]{9}$/">

											<!-- <input type="text" name="mobile" class="form-control" ng-if="checkoutData.mobile.length > 10" id="mobile" ng-model="checkoutData.mobile | slice:0:2" placeholder="Enter Mobile Number"
											 ng-minlength="10" ng-maxlength="10" maxlength="10" required ng-pattern="/^[7-9][0-9]{9}$/"> -->

											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.mobile.$error.required">Enter Mobile Number </p>

											<div ng-messages="deliveryAddressForm.mobile.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number </p>
												<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 degits</p>

												<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 degits</p>
											</div>
											<br>
										</div>
									</div>
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="alt_mobile">
												<!-- <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub> -->
												Alternate Mobile Number</label>
											<input type="text" name="alt_mobile" class="form-control" id="alt_mobile" ng-model="checkoutData.alt_mobile" placeholder="Enter Alternate Mobile Number"
											 ng-minlength="10" ng-maxlength="10" maxlength="10" ng-pattern="/^[6-9][0-9]{9}$/">

											<p class="validationError errorMsg" ng-if="submitted && deliveryAddressForm.alt_mobile.$error.required">Enter Alternate Mobile Number </p>

											<div ng-messages="deliveryAddressForm.alt_mobile.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Alternate Mobile Number</p>
												<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 degits</p>

												<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 degits</p>
											</div>
											<br>

										</div>
									</div>
								</div>

								<!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<div class="form-group" style="padding-bottom:5px;">
											<label for="gstnumber">GST Number</label>
											<input type="text" name="gstnumber" class="form-control" id="gstnumber" ng-pattern="/^[0-9]{2}[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}[1-9A-Za-z]{1}[0-9A-Za-z]{1}[0-9A-Za-z]{1}$/"
											 ng-model="gstnumber" placeholder="Enter GST Number">

											

											<div ng-messages="deliveryAddressForm.gstnumber.$error ">

												<p class="validationError errorMsg" ng-message="pattern">Enter Valid Gst Number </p>

											</div>
											<br>
										</div>
									</div>
								</div> -->


								<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -19px;">
									<div class="checkbox">
										<label id="default_billing_haeding">
											<input type="checkbox" name="remember" ng-model="checkoutData.remember" ng-click="sameaddress(checkoutData)">
											<span>Use as my default billing address</span>
										</label>
									</div>
								</div>
								<!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
								
									<button type="submit" class="btn btn-default register_submit pull-right ad_cart" id="checkOutShippingBtn" ng-click="submitted=true;deliveryAddressForm.$valid && nextStepPayment(checkoutData)">Continue</button>
								</div> -->
							</div>
						</form>

						<!-- <a class="btn btn-default pull-right btn_conti" role="button" ng-click="nextStepPayment(editAddressInfo)">Continue</a> -->

					</div>
				</div>

				<!--   shipping address end here -->
				<div class="shipping_addr_part col-md-6 col-lg-6 col-sm-6 col-xs-12">
					<div style="background-color:gray;padding:5px;" ng-click="ShowHide()">

						<span class="checkout-step-number111" style="color:#fff;font-size: 15px;padding:10px;">2</span>
						<h4 class="checkout-step-title">
							<a role="button" style="color:#fff;">Billing Address</a>
						</h4>
					</div>
					<div>
						<form name="billindAddressForm" id="contactForm">
							<div class="" style="border:1px solid #ddd;" id="contctform">

								<div class="row" style="padding: 3px;margin-bottom: 23px;">
									<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="firstname">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>First Name </label>
												<input type="text" name="firstname" required class="form-control" id="firstname" ng-model="billingAddress.firstname" placeholder="Enter First Name"
												 ng-minlength="3" ng-maxlength="50" maxlength="50" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/" autofocus="true">


												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.firstname.$error.required">Enter First Name</p>

												<div ng-messages="billindAddressForm.firstname.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid First Name</p>
													<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
													<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
												</div>
												<br>
											</div>
										</div>
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="lastname">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub> Last Name</label>
												<input type="text" name="lastname" required="" class="form-control" id="lastname" ng-model="billingAddress.lastname" placeholder="Enter Last Name"
												 ng-minlength="3" ng-maxlength="50" maxlength="50" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
												<span class="validationError errorMsg" style="color:red" ng-if="billindAddressForm.lastname.$dirty && billindAddressForm.lastname.$invalid"
												 class="ng-hide">
													Please Enter Valid Last Name.
												</span>
												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.lastname.$error.required">Enter Last Name</p>

												<div ng-messages="billindAddressForm.lastname.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid Last Name</p>
													<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
													<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
												</div>
												<br>
											</div>
										</div>
									</div>
									<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="house_no">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>House No.</label>
												<input type="text" name="house_no" class="form-control" id="house_no" ng-model="billingAddress.house_no" placeholder="Enter House No."
												 required ng-pattern="/^[a-zA-Z0-9/, # - # -]*$/" ng-minlength="3">
												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.house_no.$error.required">Enter House Number</p>

												<div ng-messages="billindAddressForm.house_no.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid House Number</p>
													<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>

												</div>
												<br>
											</div>
										</div>
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="street_address">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Street Address Name</label>
												<input type="text" name="street_address" class="form-control" id="street_address" ng-model="billingAddress.street_address"
												 placeholder="Enter Street Name" ng-minlength="3" ng-maxlength="150" maxlength="150" required ng-pattern="/^[^`~!@#$%^&*()+={}|[\]'<>?]*$/">
												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.street_address.$error.required">Enter Street Address Name</p>

												<div ng-messages="billindAddressForm.street_address.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid Street Address Name</p>
													<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
													<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 150 Characters</p>
												</div>
												<br>
											</div>
										</div>
									</div>
									<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="city">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>City</label>
												<input type="text" name="city" class="form-control" id="city" ng-model="billingAddress.city" placeholder="Enter city" ng-minlength="3"
												 ng-maxlength="20" maxlength="20" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">

												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.city.$error.required">Enter City Name</p>

												<div ng-messages="deliveryAddressForm.city.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid City Name</p>
													<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
													<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
												</div>
												<br>

											</div>
										</div>
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="state">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>State/Province</label>
												<input type="text" name="state" class="form-control" id="state" ng-model="billingAddress.state" placeholder="Enter state/Province"
												 ng-minlength="3" ng-maxlength="20" maxlength="20" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">

												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.state.$error.required">Enter State/Province</p>

												<div ng-messages="billindAddressForm.state.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid State Name</p>
													<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
													<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 20 Characters</p>
												</div>
												<br>
											</div>
										</div>
									</div>
									<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="postal_code">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Zip/Postal Code</label>
												<input type="text" name="postal_code" class="form-control" id="postal_code" ng-model="billingAddress.postal_code" placeholder="Enter Zip/Postal Code"
												 required ng-pattern="/^[1-9][0-9]{5}$/" maxlength="6">

												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.postal_code.$error.required">Enter Valid Postal Code</p>

												<div ng-messages="billindAddressForm.postal_code.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid Postal code</p>

													<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 6 Numbers only</p>
												</div>
												<br>


											</div>
										</div>
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="country">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Country</label>
												<input type="text" name="country" class="form-control" id="country" ng-model="billingAddress.country" placeholder="Enter Country"
												 required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">

												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.country.$error.required">Enter Country </p>

												<div ng-messages="billindAddressForm.country.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid Country </p>
													<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>

													<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 6 Numbers only</p>
												</div>
												<br>


											</div>
										</div>
									</div>
									<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="mobile">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Mobile Number</label>
												<input type="text" name="mobile" class="form-control" id="mobile" ng-model="billingAddress.mobile" placeholder="Enter Mobile Number"
												 ng-minlength="10" ng-maxlength="10" maxlength="10" required ng-pattern="/^[6-9][0-9]{9}$/">

												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.mobile.$error.required">Enter Mobile Number </p>

												<div ng-messages="billindAddressForm.mobile.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number </p>
													<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 degits</p>

													<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 degits</p>
												</div>
												<br>
											</div>
										</div>
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="alt_mobile">
													<!-- <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub> -->
													Alternate Mobile Number</label>
												<input type="text" name="alt_mobile" class="form-control" id="alt_mobile" ng-model="billingAddress.alt_mobile" placeholder="Enter Alternate Mobile Number"
												 ng-minlength="10" ng-maxlength="10" maxlength="10" ng-pattern="/^[6-9][0-9]{9}$/">

												<p class="validationError errorMsg" ng-if="submitted && billindAddressForm.alt_mobile.$error.required">Enter Alternate Mobile Number </p>

												<div ng-messages="billindAddressForm.alt_mobile.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number </p>
													<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 degits</p>

													<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 degits</p>
												</div>
												<br>
											</div>
										</div>
									</div>
									<!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
											<div class="form-group" style="padding-bottom:5px;">
												<label for="gstnumber">GST Number</label>
												<input type="text" name="gstnumber" class="form-control" id="gstnumber" ng-pattern="/^[0-9]{2}[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}[1-9A-Za-z]{1}[0-9A-Za-z]{1}[0-9A-Za-z]{1}$/"
												 ng-model="gstnumber" placeholder="Enter GST Number">

								

												<div ng-messages="billindAddressForm.gstnumber.$error ">

													<p class="validationError errorMsg" ng-message="pattern">Enter Valid Gst Number </p>
													<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 degits</p>

													<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 degits</p>
												</div>
												<br>
											</div>
										</div>
									</div> -->
								</div>
								
							</div>
						</form>
					</div>
				</div>

				<!--   billing address end here -->
			</div>
		</div>
		  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 btnsave">
		<div class="form-group col-md-offset-5 col-md-7 col-xs-12">
					  <a class="btn btn-default ad_cart cancelBtn col-md-2" role="button" ng-click="submitted=true;billindAddressForm.$valid && saveBillingAddress(checkoutData,billingAddress)">Save</a>
					</div>
					</div>
	</div>
</div>
<!---------------------------------------  end   ------------------------------------------------------>