<div class="container" ng-controller="searchPageController">

    <div class='row'>

        <div class="collections-wrap">
            <ul class="bredcrumb_ul" style="margin-top: 10px;">
                <li class="bredcrumb_li">
                    <a ng-click="goToHome()">	Home</a>
                </li>
                <li class="bredcrumb_li">
                    <a>Here are results from All Categories</a>
                </li>
                <br>

            </ul>

            <div class="block-title">

                <h1 style="border-bottom: 1px solid #ddd;padding-bottom: 5px;">SEARCH PRODUCTS</h1>
                <div ng-if="searchedMoreProducts.length == 0" style="color: #7d7575;text-align: center;margin-top: 25px;font-size: 37px;">

                    <img src="images/noproducts.png">

                    <br></div>


                <div>



                    <!-- Wrapper for slides -->



                    <div class="carousel-inner" style="padding:10px;">



                        <div>



                            <div class="row">



                                <div class="col-sm-6 col-xs-12 col-lg-3 col-md-3" ng-repeat="product in searchedMoreProducts">



                                    <div class="sub-item respl-item" style="opacity: 1;">



                                        <div class="item-inner">



                                            <div class="prod-modelNo prod-modelNo-warrt-list prod-modelNo-list">



                                            </div>



                                            <div class="product-image">







                                                <a style="padding:10px 0;" ng-click="getProductDetails(product)" class="product-img" title="{{product.upload_name}}">



                                                    <img class="small-image pdt-img-small" ng-src="{{product.upload_photo}}" alt="{{product.upload_name}}" title="{{product.upload_name}}">



                                                </a>



                                            </div>



                                            <div class="product-info">



                                                <div class="product-name" ng-init="limit = 32" id="searchProname">







                                                    <a ng-click="getProductDetails(product)" title="{{product.upload_name}}">



                                                                    {{product.upload_name | limitTo: limit}}{{product.upload_name .length > limit ? ' . . .' : ''}} <!--{{deal.atrname}} {{deal.atrvalue}} -->



                                                                  </a>



                                                </div>



                                                <div class="product-price">



                                                    <div class="price-box" ng-repeat="price in product.prices">

                                                        <div class="offer home_offer" style="margin-top: -24px;">



                                                            <br>

                                                            <p class="special-price yousave disPrice" style="margin-right: 2px;">

                                                                {{price.percentage+0.00|number:2}} %

                                                            </p>



                                                            <span class="special-price">

                                                                          <span class="special-price" id="product-price-507_b">

                                                                              <span class="price" style="padding-left: 2px;margin: 0 auto;">{{price.offer_price | currency:'&#8377;'}}</span>

                                                            </span>

                                                            </span>

                                                            <span class="old-price">

                                                                          <span class="price" id="old-price-507_b">

                                                                          {{price.enduser_price | currency:'&#8377;'}}

                                                                          </span>

                                                            </span>

                                                            <p id="exclgstttt">(Excluding-GST)</p>

                                                        </div>

                                                    </div>

                                                </div>
                                                <!--     <div class="clear-left_detailed">

                       
                        <div class="cartdiv">
                          <a href="" class="ad_cart_lak btn addcartbtn" title="Add To Cart" ng-click="addToCart(product)"><span><i class="glyphicon glyphicon-shopping-cart"  style="padding-right:5px;font-size:13px"></i>ADD TO CART</span></a>
                        </div>
                        <div class="wishcompdiv">
                          <a href="" class="whishlist_lak wishbtn" title="Add To Whishlist" ng-click="addToWishList(product)"></a>
                          <a href="" class="compare_lak wishbtn" title="Add To Compare" ng-click="addToCompare(product)"></a>
                          <div class="revdiv">
                            <a href="" class="ad_cart_lak btn addreview" title="Write Your Review" ng-click="productReview(product, 'review')"><span><i class="glyphicon glyphicon-star" style="padding-right:5px;font-size: 13px;top: 3px;"> </i> REVIEW</span> </a>
                          </div>
                        </div>
                   

                      </div> -->
                                                <div class="clear-left_detailed" id="homecarts">
                                                    <div class="cartdiv">
                                                        <a href="" class="ad_cart_lak btn addcartbtn" id="newcart_style" title="Add To Cart" ng-click="addToCart(product)">
                                                            <span>
                                <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>
                                <span class="cart_style_new">ADD TO CART</span>
                                                            </span>
                                                        </a>
                                                        <a href="" class="whishlist_lak wishbtn" title="Add To Whishlist" ng-click="addToWishList(product)"></a>
                                                        <a href="" class="compare_lak wishbtn" title="Add To Compare" ng-click="addToCompare(product)"></a>
                                                        <a href="" class="ad_cart_lak btn addreview" title="Write Your Review" id="new_rev_ad_cart" ng-if="product.avgrating == 0" ng-click="product(product, 'review')">
                                                            <span>
                                <i class="glyphicon glyphicon-star" style="font-size: 13px;"></i>
                                <span class="hidden-xs">REVIEW</span>
                                                            </span>
                                                        </a>
                                                        <a class="btn addreview" id="strRev" ng-click="product(product, 'review')" title="Write Your Review" ng-if="product.avgrating != 0">
                                                            <star-rating ng-model="product.avgrating" readonly="isReadonly"></star-rating>
                                                        </a>
                                                    </div>
                                                </div>


                                            </div>



                                        </div>



                                    </div>



                                </div>



                            </div>







                        </div>



                    </div>













                    <!-- DEALS  -->

                </div>

            </div>



            <div id="addedToCart" class="modal fade">



                <div class="modal-dialog">



                    <div class="modal-content">



                        <div class="modal-header"></div>



                        <div class="modal-body" align="middle">



                            Added to Cart Successfully!



                        </div>







                        <div class="modal-footer">



                            <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button></div>



                    </div>



                </div>



            </div>



            <div id="addedToCompareProducts" class="modal fade">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header"></div>

                        <div class="modal-body" align="middle">

                            Added to Compare Products Successfully!

                        </div>

                        <div class="modal-footer">

                            <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>

                        </div>

                    </div>

                </div>

            </div>



            <div id="outOfQty" class="modal fade">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header"></div>

                        <div class="modal-body" align="middle">

                            Only {{avlQty}} are left!

                        </div>

                        <div class="modal-footer">

                            <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>

                        </div>

                    </div>

                </div>

            </div>



            <div id="addedToWishList" class="modal fade">



                <div class="modal-dialog">



                    <div class="modal-content">



                        <div class="modal-header"></div>



                        <div class="modal-body" align="middle">



                            Added to Wish List Successfully!



                        </div>







                        <div class="modal-footer">



                            <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button></div>



                    </div>



                </div>



            </div>
        </div>
    </div>