html, body{font-size:100%;background:#fff;font-family:'Cabin', sans-serif;}
img{max-width:100%;}
p{margin:0;}
h1,h2,h3,h4,h5,h6{margin:0;}
ul,label{margin:0;padding:0;}
ul li{list-style-type:none;}
.wrapper{max-width:1600px;height:auto;margin:0 auto;}
#flexiselDemo1 ,#flexiselDemo2{display:none;}
.nbs-flexisel-container{position:relative;max-width:100%;}
.nbs-flexisel-ul{position:relative;width:9999px;list-style-type:none;text-align:center;}
.nbs-flexisel-inner{overflow:hidden;width:90%;margin:0 auto;}
.nbs-flexisel-item{float:left;position:relative;line-height:0px;}
.nbs-flexisel-item > img{cursor:pointer;position:relative;}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{width:40px;height:40px;position:absolute;cursor:pointer;z-index:100;}
.nbs-flexisel-nav-left{left:8px;background:url(../images/ar.png) no-repeat 0px 0px;}
.nbs-flexisel-nav-right{right:0px;background:url(../images/ar1.png) no-repeat 0px 0px;}
.banner-left{width:39%;background:#666666;height:auto;min-height:590px;float:left;}
.banner-right{float:right;width:61%;background:#231E1A;max-height:590px;vertical-align:middle;}
.banner .banner-right img{margin-top:10px;}
.banner-grid{background:#fff;width:50%;margin:4.5em auto;}
.banner-grid h2{background:#000;padding:0.4em 0;color:#fff;font-size:1.7em;font-family:'Lato', sans-serif;}
.wome{padding:2em;}
.banner{min-height:590px;width:100%;background:#231E1A;}
.ba-price{line-height:1.3em;}
.col-pic{position:absolute;top:0;background:rgba(0, 0, 0, 0.7);width:100%;height:100%;text-align:center;opacity:0.7;}
.col-pic h5{color:#CCC;font-weight:bolder;padding-top:40%;font-size:3em;font-family:'Lato', sans-serif;}
a.shop{float:right;position:relative;overflow:hidden;color:#0487A1;text-decoration:none;border-bottom:2px solid #0487A1;font-weight:bold;line-height:normal;font-size:15px;text-decoration:none;}
a.shop:before{-moz-transition:max-width 0.2s ease-out;-o-transition:max-width 0.2s ease-out;-webkit-transition:max-width 0.2s ease-out;transition:max-width 0.2s ease-out;content:attr(data-hover);position:absolute;top:0;left:0;overflow:hidden;white-space:nowrap;max-width:0;color:#000;}
a.shop:hover:before{max-width:100%;}
.col-md1{height:550px;}
.col-md2{padding:30px 2.5em;height:550px;}
.showroom_brand{text-align:center;margin-top:1em;}
.showroom_brand h6{font-size:1.15em;margin-top:0.4em;font-family:'Lato', sans-serif;margin-bottom:7px;}
.showroom_brand h6 a{color:#0487A1;text-decoration:none;font-size:13px;}
.showroom_brand h6 a:hover{color:#444;}
.showroom_brand p{font-size:13px;color:#008000;font-weight:600;}
.showroom_brand p del{font-size:0.9em;margin-right:4px;color:#e34a38;}
em.item_price{font-style:normal;color:#e34a38;font-weight:600;font-size:13px;}
.but,
[class*="but-"]{position:relative;display:inline-block;overflow:hidden;padding:0 10px;height:27px;font:300 1em/3.5em 'Cabin', sans-serif;text-decoration:none;line-height:1.9em;border:1px solid #ddd;-moz-transition:ease 0.35s all;-ms-transition:ease 0.35s all;-o-transition:ease 0.35s all;transition:ease 0.35s all;text-decoration:none;font-size:1.1em;font-weight:bold;}
.but:hover,
[class*="but-"]:hover{background:#0487A1;color:#fff;border:1px solid #0487A1;text-decoration:none;}
.but-hover1:hover{}
.but-hover1:before{content:attr(data-text);color:#fff;position:absolute;top:-2.75em;}
a.shop-2{text-decoration:none;color:#000;border-bottom:1px solid #000;font-size:15px;display:inline-block;-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);position:absolute;top:42%;right:0%;}
a.shop-2:hover{color:#0487A1;border-bottom:1px solid #0487A1;font-weight:500;}
.col-md1 img{width:100%;height:100%;}
.grid-pro .grid-product figure{position:relative;display:block;overflow:hidden;margin:0 0 0 0;width:100%;}
.grid-pro .grid-product figure:hover .grid-img + .grid-img{right:100%;}
.grid-pro .grid-product figure > a{display:block;float:left;width:100%;z-index:1;}
.grid-pro .grid-product figure > a .grid-img{width:100%;line-height:0;will-change:right;-moz-transform:translateZ(0);-webkit-transform:translateZ(0);transform:translateZ(0);}
.grid-pro .grid-product figure > a .grid-img img{max-width:100%;}
.grid-pro .grid-product figure > a .grid-img + .grid-img{position:absolute;top:0;right:0;-moz-transition:right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);-o-transition:right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);-webkit-transition:right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);transition:right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);}
.grid-pro .grid-product figure > a .grid-img + .grid-img img{max-width:none;}
.grid-product{width:100%;margin:0 auto;}
.grid-pro{border:1px solid #E2E2E2;border:5px solid #ffffff;-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.15);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.15);box-shadow:0 0 10px rgba(0, 0, 0, 0.15);padding:1em;margin:0 10px;}
.morebutton{width:15%;margin:0 auto;padding:10px;text-align:center;background-color:#0487A1;border:solid 1px #c3c3c3;display:block;cursor:pointer;margin-bottom:20px;color:#fff;font-weight:bold;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;transition:all 0.8s;}
.morebutton:hover{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);}
.hidebutton{width:15%;margin:0 auto;padding:10px;text-align:center;background-color:#0487A1;border:solid 1px #c3c3c3;display:block;cursor:pointer;margin-bottom:20px;color:#fff;font-weight:bold;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;transition:all 0.8s;}
.hidebutton:hover{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);}
.more{height:30px;padding:10px;border:1px solid #0487A1;line-height:10px;border-radius:5px;float:right;margin-right:20px;text-align:center;margin-top:30px;}
.more a{font-size:13px;color:#0487A1;text-decoration:none;}
.more:hover{background:#0487A1;border:1px solid #0487A1;}
.more a:hover{text-decoration:none;color:#000;font-weight:bolder;}
.grid-container{max-width:1600px;margin:0 auto;}
.left-grid{}
.right-grid{height:500px;background:#D6D6D6;}
.grid-img{height:250px;background:#fff;}
.grid-img img{max-height:100%;max-width:100%;}
.grid-text{height:250px;background:#fff;}
.grid-text h2{text-align:right;padding-right:30px;padding-top:40px;font-weight:bold;font-size:25px;}
.grid-text p{padding:10px 30px 10px 30px;font-size:16px;color:#999;line-height:180%;}
#owl-demo .item{width:300px;height:300px;display:block;cursor:pointer;margin:83px 0px 83px 10px;color:#FFF;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
.item img{}
#owl-demo .item:hover{background:#D6D6D6;}
.content-top{}
.more_less{width:400px;height:40px;margin:10px auto;}
#myList li{display:none;}
#loadMore{width:190px;height:40px;line-height:40px;border:1px solid #d1d1d1;color:#666666;cursor:pointer;font-size:13px;font-weight:bold;display:block;float:left;text-align:center;}
#loadMore:hover{color:#fff;background:#0487A1;border:1px solid #0487A1;font-weight:bold;}
#showLess{width:190px;height:40px;line-height:40px;border:1px solid #d1d1d1;color:#666666;cursor:pointer;font-size:13px;font-weight:bold;float:right;margin-right:-15px;text-align:center;}
#showLess:hover{color:#fff;background:#0487A1;border:1px solid #0487A1;font-weight:bold;}
.grid-container .left-grid .grid-img .img-responsive{height:100%;}