/* CSS Document */
.verify_mobile > input {
    clear: both;
    width: auto !important;
}
.verify_mobile .button {
    clear: both;
    width: auto;
}
.verify {
    float: left;
	padding-top: 10px;
	color:#eaa330;
}

.verify_mobile {
    clear: both;
    float: left;
    margin-bottom:5px;
    width: 100%;
}
.notverify_yet {
    background-color: #fbebe7;
    border: 1px solid red;
    padding: 5px;
}
.verify.resendcode {
    padding: 5px;
}
.mobilenotverifed
{
	clear:both;
	float:left;
}
#verify_mobile{
	margin-top: -35px;
    margin-left: 159px;
    height: 35px;
	background: #068693;
    color: #fff !important;
	border:1px solid #068693 !important;
}
.welcome-msg strong{
	font-size: 15px !important;
}
