.patren_box{padding:10px 0 0px 0;clear:both;}
.gallery{background:#fff;overflow:hidden;padding-bottom:12px;margin-bottom:10px;border:1px solid #ddd;}
.gallery:hover{box-shadow:3px 3px 3px #ccc;}
.patren_box .col-md-3, .patren_box .col-sm-3, .patren_box .col-xs-6{padding-left:5px;padding-right:5px;}
.gallery_img img{width:100%;border:1px solid #ccc;}
.gallery_img{padding:5px;}
.gallery_text{padding:0px 10px;text-align:center;}
.gallery_text .brand-name{float:left;}
.gallery_text .establish-year{float:right;}
.gallery_text p{line-height:20px;font-size:11px;text-align:left;}
a.viewlink{color:#d1a22b;}
.gallery_text .view_collection{font-size:12px;}
.gallery_text .view-collection-brand{float:left;}
.gallery_text .view-collection-moreinfo{float:right;}
.top-brands-gallery-text-content{float:left;width:100%;padding-top:5px;}
a.view_collection{float:left;width:190px;font-size:12px;color:#5d5d5d;padding:5px 0;background:#d1d2d1;margin-left:-10px;margin-bottom:-4px;}
a.view_collection-emerging{margin-top:3px;}
a.view_collection-top{margin-top:-3px;}
a.view_collection:hover{text-decoration:none;background:#0487A1;color:#fff;text-decoration:none;}
a.view_collection:focus{text-decoration:none;background:#0487A1;color:#fff;text-decoration:none;}
.gallery_text h5{font-weight:bold;color:#0487A1;font-size:15px;}
.gallery .mg-image img{-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;width:195px;height:95px;background:#f7f7f7;}
.gallery .mg-image:hover img{-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);}
.visible-xs{display:none !important;}
.top-brands-gallery-text-content p a{color:#0a0a0a;font-weight:bold;}
.cont1{height:20px;}
.cont2{height:70px;}
.cont3{height:39px;}
@media screen and (max-width:1200px) and (min-width:992px){.cont1{height:20px !important;}
.cont2{height:110px !important;}
.cont3{height:39px !important;}
}